# Docker volumes
*/data/
*/grafana_data/
*/prom_data/

# Python venv
venv/
__pycache__/

# Secrets
*.crt
*.key
*.token
*.password

# Logs
*.log

# local secrets
include/secrets.h
secrets.h
.env
.env.*
!.env.example
data/
